# Data Exploration

## Empathic Dialogues (Facebook AI) 25K
- Link: https://www.kaggle.com/datasets/atharvjairath/empathetic-dialogues-facebook-ai
- 25k Conversations

In [1]:
import os
import pandas as pd

In [45]:
empathic_dialogues_path = "../data/raw/emotion-emotion_69k/emotion-emotion_69k.csv"

df = pd.read_csv(empathic_dialogues_path)
df.head()

,Unnamed: 0,Situation,emotion,empathetic_dialogues,labels,Unnamed: 5,Unnamed: 6
0,0,I remember going to the fireworks with my best...,sentimental,Customer :I remember going to see the firework...,"Was this a friend you were in love with, or ju...",NaN,NaN
1,1,I remember going to the fireworks with my best...,sentimental,Customer :This was a best friend. I miss her.\...,Where has she gone?,NaN,NaN
2,2,I remember going to the fireworks with my best...,sentimental,Customer :We no longer talk.\nAgent :,Oh was this something that happened because of...,NaN,NaN
3,3,I remember going to the fireworks with my best...,sentimental,Customer :Was this a friend you were in love w...,This was a best friend. I miss her.,NaN,NaN
4,4,I remember going to the fireworks with my best...,sentimental,Customer :Where has she gone?\nAgent :,We no longer talk.,NaN,NaN

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64636 entries, 0 to 64635
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            64636 non-null  int64
 1   Situation             64636 non-null  object
 2   emotion               64632 non-null  object
 3   empathetic_dialogues  64636 non-null  object
 4   labels                64636 non-null  object
 5   Unnamed: 5            113 non-null    object
 6   Unnamed: 6            5 non-null      object
dtypes: int64(1), object(6)
memory usage: 3.5+ MB

In [47]:
df.rename(columns={"Unnamed: 0": "id"}, inplace=True)
df.drop(columns=["Unnamed: 5", "Unnamed: 6"], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64636 entries, 0 to 64635
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    64636 non-null  int64
 1   Situation             64636 non-null  object
 2   emotion               64632 non-null  object
 3   empathetic_dialogues  64636 non-null  object
 4   labels                64636 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.5+ MB

In [49]:
df['emotion'].value_counts()

emotion
surprised                                                                                                                                                                                         3295
excited                                                                                                                                                                                           2465
angry                                                                                                                                                                                             2296
proud                                                                                                                                                                                             2247
annoyed                                                                                                                                                                                           2213
sad                                                                                                                                                                                               2213
lonely                                                                                                                                                                                            2106
afraid                                                                                                                                                                                            2094
grateful                                                                                                                                                                                          2091
terrified                                                                                                                                                                                         2074
guilty                                                                                                                                                                                            2053
furious                                                                                                                                                                                           2045
disgusted                                                                                                                                                                                         2044
confident                                                                                                                                                                                         2037
anxious                                                                                                                                                                                           2037
anticipating                                                                                                                                                                                      2026
hopeful                                                                                                                                                                                           2019
impressed                                                                                                                                                                                         2004
nostalgic                                                                                                                                                                                         1996
disappointed                                                                                                                                                                                      1969
jealous                                                                                                                                                                                           1955
joyful                                                                                                                                                                                            1953
prepared                                                                                                                                                                                          1937
content                                                                                                                                                                                           1903
devastated                                                                                                                                                                                        1856
embarrassed                                                                                                                                                                                       1844
sentimental                                                                                                                                                                                       1773
caring                                                                                                                                                                                            1765
trusting                                                                                                                                                                                          1755
ashamed                                                                                                                                                                                           1694
apprehensive                                                                                                                                                                                      1549
faithful                                                                                                                                                                                          1283
t even like scary things                                                                                                                                                                             5
t believe my daughter taught herself how to play the ukelele. I was amazed                                                                                                                           5
 I really killed it!                                                                                                                                                                                 4
 but what I didn't know was that he was working in the next room with the door open.  He approached and asked what I had been saying.  I knew I was caught.  I was so disgusted with myself.         4
t believe I like the show Power so much. I was never really into shows like that                                                                                                                     4
t think I wold like super heroes                                                                                                                                                                     4
 we were in a different country                                                                                                                                                                      3
 a boy.  I hear all these different labor stories that aren't exactly reassuring!                                                                                                                    3
 time to jump on the motorcycle and go cruising!                                                                                                                                                     3
m so mad with my brother. He stole from me and didn't think I would notice.                                                                                                                          3
(                                                                                                                                                                                                    3
Name: count, dtype: int64

## GoEmotions (Google) 58K
- Link: https://huggingface.co/datasets/google-research-datasets/go_emotions
- 58k Reddit comments

In [54]:
from datasets import load_dataset

ds = load_dataset("google-research-datasets/go_emotions", "raw")
ds

DatasetDict({
    train: Dataset({
        features: ['text', 'id', 'author', 'subreddit', 'link_id', 'parent_id', 'created_utc', 'rater_id', 'example_very_unclear', 'admiration', 'amusement', 'anger', 'annoyance', 'approval', 'caring', 'confusion', 'curiosity', 'desire', 'disappointment', 'disapproval', 'disgust', 'embarrassment', 'excitement', 'fear', 'gratitude', 'grief', 'joy', 'love', 'nervousness', 'optimism', 'pride', 'realization', 'relief', 'remorse', 'sadness', 'surprise', 'neutral'],
        num_rows: 211225
    })
})

In [56]:
df = ds['train'].to_pandas()
df.head()

,text,id,author,subreddit,link_id,parent_id,created_utc,rater_id,example_very_unclear,admiration,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,That game hurt.,eew5j0j,Brdd9,nrl,t3_ajis4z,t1_eew18eq,1.548381e+09,1,False,0,...,0,0,0,0,0,0,0,1,0,0
1,>sexuality shouldn’t be a grouping category I...,eemcysk,TheGreen888,unpopularopinion,t3_ai4q37,t3_ai4q37,1.548084e+09,37,False,0,...,0,0,0,0,0,0,0,0,0,0
2,"You do right, if you don't care then fuck 'em!",ed2mah1,Labalool,confessions,t3_abru74,t1_ed2m7g7,1.546428e+09,37,False,0,...,0,0,0,0,0,0,0,0,0,1
3,Man I love reddit.,eeibobj,MrsRobertshaw,facepalm,t3_ahulml,t3_ahulml,1.547965e+09,18,False,0,...,1,0,0,0,0,0,0,0,0,0
4,"[NAME] was nowhere near them, he was by the Fa...",eda6yn6,American_Fascist713,starwarsspeculation,t3_ackt2f,t1_eda65q2,1.546669e+09,2,False,0,...,0,0,0,0,0,0,0,0,0,1

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211225 entries, 0 to 211224
Data columns (total 37 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   text                  211225 non-null  object
 1   id                    211225 non-null  object
 2   author                211225 non-null  object
 3   subreddit             211225 non-null  object
 4   link_id               211225 non-null  object
 5   parent_id             211225 non-null  object
 6   created_utc           211225 non-null  float32
 7   rater_id              211225 non-null  int32
 8   example_very_unclear  211225 non-null  bool
 9   admiration            211225 non-null  int32
 10  amusement             211225 non-null  int32
 11  anger                 211225 non-null  int32
 12  annoyance             211225 non-null  int32
 13  approval              211225 non-null  int32
 14  caring                211225 non-null  int32
 15  confusion             211225 non-null  int32
 16  curiosity             211225 non-null  int32
 17  desire                211225 non-null  int32
 18  disappointment        211225 non-null  int32
 19  disapproval           211225 non-null  int32
 20  disgust               211225 non-null  int32
 21  embarrassment         211225 non-null  int32
 22  excitement            211225 non-null  int32
 23  fear                  211225 non-null  int32
 24  gratitude             211225 non-null  int32
 25  grief                 211225 non-null  int32
 26  joy                   211225 non-null  int32
 27  love                  211225 non-null  int32
 28  nervousness           211225 non-null  int32
 29  optimism              211225 non-null  int32
 30  pride                 211225 non-null  int32
 31  realization           211225 non-null  int32
 32  relief                211225 non-null  int32
 33  remorse               211225 non-null  int32
 34  sadness               211225 non-null  int32
 35  surprise              211225 non-null  int32
 36  neutral               211225 non-null  int32
dtypes: bool(1), float32(1), int32(29), object(6)
memory usage: 34.0+ MB

In [60]:
emotion_cols = df.columns[9:]

# Find which column has the value 1 for each row
df[emotion_cols].idxmax(axis=1).value_counts()

neutral           55298
admiration        20542
approval          15530
annoyance         11929
disapproval        8917
amusement          8862
gratitude          8437
anger              7956
curiosity          7707
disappointment     6769
confusion          6600
love               5310
caring             5147
realization        5125
joy                5120
optimism           4994
excitement         4375
sadness            3863
surprise           3472
disgust            3420
desire             3002
fear               2514
embarrassment      1720
remorse            1648
nervousness         946
relief              814
pride               714
grief               494
Name: count, dtype: int64

## Universal Text Classification Dataset (UTCD), Clarity Lab (University of Michigan) 19 datasets
- Link: https://huggingface.co/datasets/claritylab/utcd
- 19 Text Classification Datasets

In [3]:
from datasets import load_dataset

ds = load_dataset("claritylab/utcd", "aspect-normalized-in-domain")
ds

DatasetDict({
    train: Dataset({
        features: ['text', 'labels', 'dataset_name', 'aspect'],
        num_rows: 115127
    })
    validation: Dataset({
        features: ['text', 'labels', 'dataset_name', 'aspect'],
        num_rows: 12806
    })
    test: Dataset({
        features: ['text', 'labels', 'dataset_name', 'aspect'],
        num_rows: 168365
    })
})

In [4]:
df = ds['train'].to_pandas()
df.head()

,text,labels,dataset_name,aspect
0,[NAME] is da man. A gangsta mathematician who ...,"[admiration, neutral]",0,1
1,Reminds me of that iCarly episode for the recy...,[neutral],0,1
2,"No, the ECJ made unilateral A50 revocation sub...",[neutral],0,1
3,That’s because she went on to miss the lay up,[neutral],0,1
4,Hey! Anyone have the DL on this MLM ? Would lo...,"[love, neutral]",0,1

In [ ]:
len(df["labels"].unique())